#sidbar{
			width: 150px;
    height: 27px;
		}
#sidebar	ul{
		width: 150px;
			 line-height: 25px;
		}
	#sidebar li {
	
		  list-style: none;
        position: relative;
        background: #666;
		}
		#sidebar ul li a
		{
			 width: 148px;
        height: 25px;
        display: block;
        text-decoration: none;
        text-align: center;
        font-family: Georgia,'Times New Roman',serif;
        color: #FFF;
        border:1px solid #eee;
		}
.error{
	color:#F00;
	font-size:12px;
}
	


























/*ul.side_nav{
	float:left;
	width:60%;
	background-color:#CCC;
	size:20%;
	list-style-type:none;
	
}
ul.side_nav li a{
	
	background-color:#093;
}
*/